
body,h3,h4,h5,h6 {
  font-family: "Karma", sans-serif
}

h1{
  font-family: "karma";
  font-size: 60px;
}

h2{
  font-family: "karma";
  font-size: 35px;
}

p{
  font-family: "karma";
  font-weight: bold;
}


.w3-bar-block .w3-bar-item {
  padding:20px
}

img{
  width: 700;
  height: 450;
}

#imatges{
  width:1024px;
  height:auto;
  position:relative;
  margin:auto;
}

.cont-imatge{
  width:300;
  height:450;
  position:relative;
  display:inline-block;
  vertical-align:top;
  overflow:hidden;
}

div.table{
  position: left;
  margin: auto;
}

th, td{
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
